# Base de données (PostgreSQL recommandé pour la production)
DATABASE_URL="votre_url_de_base_de_données"
DIRECT_URL="votre_url_directe_de_base_de_données"

# Clé Secrète pour JWT (Important pour la sécurité des sessions)
JWT_SECRET="votre_clé_secrète_jwt"

# (Optionnel) Supabase Client
NEXT_PUBLIC_SUPABASE_URL="votre_url_supabase"
NEXT_PUBLIC_SUPABASE_ANON_KEY="votre_clé_anonyme_supabase"
